<form>
  <div class="spire-roll-popup">
    <div>
      <div class="spire-popup-subtitle">{{localize "SPIRE.Skill"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        {{#each system.skills as |skill key|}}
        <input
          type="radio"
          id="action-roll-{{key}}"
          name="action-roll-skill"
          value="{{key}}"
        />
        <label for="action-roll-{{key}}">{{localize skill.label}}</label>
        {{/each}}
      </div>
    </div>
    <div>
      <div class="spire-popup-subtitle">{{localize "SPIRE.Domain"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        {{#each system.domains as |domain key|}}
        <input
          type="radio"
          id="action-roll-{{key}}"
          name="action-roll-domain"
          value="{{key}}"
        />
        <label for="action-roll-{{key}}">{{localize domain.label}}</label>
        {{/each}}
      </div>
    </div>
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Mastery"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        <input
          type="checkbox"
          id="action-roll-mastery"
          name="action-roll-mastery"
        />
        <label for="action-roll-mastery">{{localize "SPIRE.Mastery"}}</label>
      </div>
    </div>
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Difficulty"}}</div>
      <div
        class="spire-roll-options spire-roll-options-column spire-roll-options-red"
      >
        <input
          type="radio"
          id="action-roll-difficulty-0"
          name="action-roll-difficulty"
          value="0"
          checked
        />
        <label for="action-roll-difficulty-0">0</label>
        <input
          type="radio"
          id="action-roll-difficulty-1"
          name="action-roll-difficulty"
          value="1"
        />
        <label for="action-roll-difficulty-1">1</label>
        <input
          type="radio"
          id="action-roll-difficulty-2"
          name="action-roll-difficulty"
          value="2"
        />
        <label for="action-roll-difficulty-2">2</label>
      </div>
    </div>
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Help"}}</div>
      <div
        class="spire-roll-options spire-roll-options-column spire-roll-options-blue"
      >
        <input
          type="radio"
          id="action-roll-no-help"
          name="action-roll-help"
          value="0"
          checked
        />
        <label for="action-roll-no-help">{{localize "SPIRE.NoHelp"}}</label>
        <input
          type="radio"
          id="action-roll-help-1"
          name="action-roll-help"
          value="1"
        />
        <label for="action-roll-help-1">+1</label>
        <input
          type="radio"
          id="action-roll-help-2"
          name="action-roll-help"
          value="2"
        />
        <label for="action-roll-help-2">+2</label>
        <input
          type="radio"
          id="action-roll-help-3"
          name="action-roll-help"
          value="3"
        />
        <label for="action-roll-help-3">+3</label>
        <input
          type="radio"
          id="action-roll-help-4"
          name="action-roll-help"
          value="4"
        />
        <label for="action-roll-help-4">+4</label>
      </div>
    </div>
  </div>
</form>
