<div class="dice-roll">
  <div class="dice-result">
    {{#if (eq roll_status "critical-success")}}
    <h4 class="dice-total">{{localize "SPIRE.CriticalSuccess"}}</h4>
    {{/if}} {{#if (eq roll_status "success")}}
    <h4 class="dice-total">{{localize "SPIRE.Success"}}</h4>
    {{/if}} {{#if (eq roll_status "partial-success")}}
    <h4 class="dice-total">{{localize "SPIRE.PartialSuccess"}}</h4>
    {{/if}} {{#if (eq roll_status "failure")}}
    <h4 class="dice-total">{{localize "SPIRE.Failure"}}</h4>
    {{/if}} {{#if (eq roll_status "critical-failure")}}
    <h4 class="dice-total">{{localize "SPIRE.CriticalFailure"}}</h4>
    {{/if}}
  </div>
</div>
<div class="spire-vertical-gap"></div>
<div class="spire-roll-info-wrapper">
  <div class="grid-12-col small-gap">
    {{#if skill}}
    <div class="spire-roll-info-active span-4-col">{{localize skillLabel}}</div>
    {{else}}
    <div class="spire-roll-info-inactive span-4-col">
      {{localize skillLabel}}
    </div>
    {{/if}} {{#if domain}}
    <div class="spire-roll-info-active span-4-col">
      {{localize domainLabel}}
    </div>
    {{else}}
    <div class="spire-roll-info-inactive span-4-col">
      {{localize domainLabel}}
    </div>
    {{/if}} {{#if mastery}}
    <div class="spire-roll-info-active span-4-col">
      {{localize "SPIRE.Mastery"}}
    </div>
    {{else}}
    <div class="spire-roll-info-inactive span-4-col">
      {{localize "SPIRE.Mastery"}}
    </div>
    {{/if}}
    <div class="spire-roll-info-difficulty span-6-col">
      {{localize "SPIRE.Difficulty"}} {{difficulty}}
    </div>
    <div class="spire-roll-info-active span-6-col">
      {{localize "SPIRE.Help"}} {{help}}
    </div>
  </div>
</div>
<div class="dice-tooltip">
  <ol class="dice-rolls">
    {{#each this.roll_results}} {{#if this.active}}
    <li class="roll die d10">{{{this.result}}}</li>
    {{else}}
    <li class="roll die d10 spire-muted-die">{{{this.result}}}</li>
    {{/if}} {{/each}}
  </ol>
</div>
